<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" th:href="@{css/rooms.css}" href="../static/css/rooms.css">
  <title th:text="${user.getEmail()}"></title>
</head>
<body>
      <p th:text="${user.getEmail()}"></p>
      <p th:text="${user.getFirstName()}"></p>
      <p th:text="${user.getLastName()}"></p>
      <p th:text="${user.getPhoneNumber()}"></p>
      <div th:each="comment : ${userComments}">
            <p th:text="${comment.getComment()}"></p>
            <p th:text="${comment.getDate()}"></p>
      </div>
      <!DOCTYPE html>
      <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
            xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
          <title>Hello World!</title>
      </head>
      <body>
      <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
      </form>
      </body>
      </html>
</body>
</html>